<H1>Welcome to Enlight</h1>

<p>Sign In</p>
<form name="input" action="get" method="get">
User name: <input type="text" name="username"><br>
Password: <input type="password" name="pwd">
<input type="submit" value="Submit">
</form>

<p>Sign Up</p>
<form name="input" action="get" method="get">
User name: <input type="text" name="username"><br>
Interests: <input type="text" name="interests"><br>
Password: <input type="password" name="pwd"><br>
Re-Enter Password: <input type="password" name="re_enter_pwd">
<input type="submit" value="Submit">
</form>

<%= link_to 'about' %>

